# Gradle
.gradle/
build/

# Local config
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Android
*.apk
*.aar

# Native builds
.externalNativeBuild/
.cxx/

# OS
.DS_Store

# Captures
captures/